@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@variant dark (.dark &);

/* Enable dark mode support */
@media (prefers-color-scheme: dark) {
  html:not(.light) {
    color-scheme: dark;
  }
}

html.dark {
  color-scheme: dark;
}
